@import "animation";

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    background-color: cadetblue;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding-top: 50px;
}

// formuläret för att lägga till ny kurs
#addCourse {
    width: 60%;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
}

h2 {
    padding: 10px 0 10 20px;
    font-size: 28px;
}

label {
    font-size: 24px;
}

form {
    padding: 0 0 0 20px;
}

input {
    width: 50%;
    height: 30px;  
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 90%;
}

select {
    height: 30px;
}

#submit {
    max-width: 200px;
    height: 40px;
    background-color: cadetblue;
    margin: 20px 0;
    font-size: 20px;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 3 3 5px;
}

//lista på sidan med inlaggda kurser
#courses {
    width: 60%;
    margin: 0 auto;
    height: auto;
}

#courses ul {
    list-style: none;
    padding: 10px;
}

#courses ul li {
    padding: 10px;
    border-bottom: 2px solid #000;
}

//redigeringsknapp
.edit {
    float: right;
    max-width: 200px;
    height: 25px;
    font-size: 20px;
    padding: 2px 10px;
}

//redigeringsformulär
.editinput {
    width: 50%;
    height: 30px;  
    transition: width 0.4s ease-in-out;
}

#updateBtn {
    float: right;
    padding: 5px;
    background-color: cadetblue;
}
//ta bort alla kurser-knappen
#clear {
    max-width: 200px;
    height: 40px;
    background-color: cadetblue;
    font-size: 20px;
    padding: 5px;
    margin: 20px 0 200px 20px;
}

#clear:hover {
    cursor: pointer;
    box-shadow: 3 3 5px;
}

//footer
footer {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    position: fixed;
    bottom: 0;
    background-color: cadetblue;
}

footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}