@import "animation"; 

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    background-color: cadetblue;
}
h1 {
    font-size: 42px;
    text-align: center;
    padding-top: 50px;
}

#addCourse {
    width: 60%;
    margin: 0 auto;
    height: auto;
    
    margin-top: 50px;
}
h2 {
    padding: 10px 0 10 20px;
    font-size: 28px;
}
label {
    font-size: 24px;
}
form {
    padding: 0 0 0 20px;
}
input {
    width: 50%;
    height: 30px;
    border-bottom: 2px solid #000;  
    transition: width 0.4s ease-in-out;
}
input:focus {
    width: 90%;
}
select {
    height: 30px;
}
#submit {
    max-width: 200px;
    height: 40px;
    background-color: cadetblue;
    margin: 20px 0;
    font-size: 20px;
   
}
#submit:hover {
    cursor: pointer;
    box-shadow: 3 3 5px;
}
#courses {
    width: 80%;
    margin: 0 auto;
    height: auto;
 
}
#courses ul {
    list-style: none;
    padding: 10px;
}
#courses ul li {
   padding: 15px 0;
   border-bottom: 2px solid #000;
}

.deleteBtn {
display: flexbox;
float: right;
padding: 5px;
}

#clear {
    max-width: 200px;
    height: 40px;
    background-color: cadetblue;
    font-size: 20px;
    padding: 5px;
    margin: 20px 0 200px 20px;
}

#clear:hover {
    cursor: pointer;
    box-shadow: 3 3 5px;
}

footer {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    position: absolute;
    bottom: 0;
    background-color: cadetblue;
}
footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}