@import "animation";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    background-color: cadetblue;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding-top: 50px;
    color: #FFF;
}

// formuläret för att lägga till ny kurs
#addCourse {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
}

h2 {
    padding: 10px 0 10 20px;
    font-size: 28px;
}

label {
    font-size: 24px;
}

form {
    padding: 0 0 0 20px;
}

input {
    width: 80%;
    height: 30px;  
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 100%;
}

select {
    height: 30px;
}


#submit {
    max-width: 200px;
    height: 40px;
    background-color: cadetblue;
    color: #FFF;
    margin: 20px 0;
    font-size: 20px;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 3 3 5px grey;
}

//lista på sidan med inlaggda kurser
#courses {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
}

#courses ul {
    list-style: none;
    padding: 10px;
}

#courses ul li {
    padding: 10px;
    border-bottom: 2px solid #000;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    max-width: 100%; 
}

#courses ul li a{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle; 
}

//redigeringsknapp
.edit {
    float: right;
    max-width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 0 25px;
    background-color: cadetblue;
    color: #FFF;
    
    
}
.edit:hover {
    cursor: pointer;
    box-shadow: 3 3 5px grey;
}

//redigeringsformulär
.editinput {
    width: 60%;
    max-width: 250px;
    height: 30px;  
    transition: none;
    display: block;
}

#updateBtn {
    
    max-width: 200px;
    height: 30px;
    font-size: 20px;
    padding: 0 10px;
    background-color: cadetblue;
    color: #FFF;
    margin-top: 5px;
}
//ta bort alla kurser-knappen
#clear {
    max-width: 200px;
    height: 40px;
    background-color: cadetblue;
    color: #FFF;
    font-size: 20px;
    padding: 5px;
    margin: 20px 0 200px 20px;
}

#clear:hover {
    cursor: pointer;
    box-shadow: 3 3 5px grey;
}

//footer
footer {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    position: fixed;
    bottom: 0;
    background-color: cadetblue;
}

footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}